*{
    padding: 0px;
    margin: 0px;
}

.chathistory{
    min-height:400px;
    width:600px;
    margin:10px auto;
    padding:10px;  
    background:#f1f1f1; 
}
.centrailsed{
    margin:10px auto;
    width:600px;
    text-align: center;
}